#container{
/*place container somewhere where you want the eye */
width:100%;
height:100%;
position:relative;


}

#eye{

position:absolute;


left:calc(50% - 50px);
/*^this defines where the topleft pixel of the eye is */

}

#eyecenter{
position:absolute;
width:1;
height:1;
left:50px;
top:50px;
}


#pupil{
background:#000;
position:absolute;
width:10px;
height:10px;



}


#space{
width:20px;
height:20px;
position:absolute;



}
